body {
    font-family: Arial, sans-serif; /* Fonte elegante para o título */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: white;
}

header {
    background-image: url('imagem-fundo.jpg'); /* Insira sua imagem de fundo */
    background-size: auto;
    background-position: top;
    text-align: center;
    text-shadow: rgba(0,0,0,0.25) 1.3px 1.3px 1.3px;
    padding: 5px;
    opacity: 100%;
}

#frame-header {
    max-width: 70%;
    height: auto;
    margin-top: -20px;
}

h1 {
    color: #333333; /* Cor branca para o título */
    font-size: 2.5em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.sobre-nos, .secao-servicos, .nossos-servicos {
    width: 100%;
    max-width: max-content; /* Limite de largura para a seção */
    margin-top: 80px;
    text-align: center;
    font-size: 16px;

    .sobre-nos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-shadow: rgba(0,0,0,0.25) 1.3px 1.3px 1.3px;
}

/* Estilos para as fotos com texto (seção Sobre) */
.secao-servicos {
    display: flex; /* Ativa o layout Flexbox */
    justify-content: center; /* Centraliza os elementos na horizontal */
    align-items: center; /* Alinha os elementos na vertical */
    flex-wrap: wrap; /* Permite que os serviços quebrem a linha */
    margin-top: 20px;
    z-index: 10;
}


.servico {
    display: inline-block; /* Permite que os serviços fiquem lado a lado */
    margin: 40px; /* Adiciona espaço entre os serviços */
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.servico img {
    width: 185px; /* Largura das imagens */
    height: auto; /* Mantém a proporção das imagens */
    margin-bottom: auto; /* Adiciona espaço abaixo das imagens */
    text-align: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}

img:hover, img:active {
    transform: scale(1.1); /* Aumenta a imagem em 10% ao passar o mouse */
    transition: transform 0.3s; /* Adiciona uma transição suave */
    opacity: revert;
}

.professional {
    position: relative;
    display: block; /* Exibe o texto do link como um bloco */
    text-decoration: none; /* Remove a sublinhação padrão */
    color: black; /* Cor do texto do link */
    font-weight: bold; /* Texto em negrito */
    align-items: center;
    font-size: 25px;
    z-index: 10;
    text-shadow: rgba(0,0,0,0.25) 1.3px 1.3px 1.3px;
}

a.professional #icon-whatsapp, #icon-whatsapp2, #icon-whatsapp3{
    width: 20px;
    height: 20px;
    margin-left: 0;
    margin-bottom: 5px;
    pointer-events: none;
    cursor: none;
    z-index: 10;
    opacity: 80%;
}

footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

.servicos-lista {
    list-style: none; /* Remover ponto de marcação */
    display: flex; /* Flexbox para organização */
    flex-direction: column; /* Organiza na vertical (ou 'row' para horizontal) */
    align-items: center; /* Alinha horizontalmente à esquerda */
    padding: 0; /* Remover preenchimento padrão */
    margin: 0; /* Remover margens padrão */
    font-size: 16px;
}

.servicos-lista li {
    padding: 2px 0; /* Espaçamento entre os itens */
    border-bottom: 1px solid #ddd; /* Borda inferior para separação visual */
    @media screen {
        max-width: 450px;
    }
}

@media only screen and (max-width: 600px) {
    .servico img {
        cursor: pointer;
    }
}
