body {
    font-family: Arial, sans-serif; /* Fonte elegante para o título */
    margin: 0;
    padding: 0;
}

header {
    background-image: url('imagem-fundo.jpg'); /* Insira sua imagem de fundo */
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333333; /* Cor branca para o título */
    font-size: 2.5em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.sobre-nos, .secao-servicos, .nossos-servicos {
    width: 130%;
    max-width: 600px; /* Limite de largura para a seção */
    margin-top: 80px;
    text-align: center;
    font-size: 14px;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Estilos para as fotos com texto (seção Sobre) */
.secao-servicos {
    display: flex; /* Ativa o layout Flexbox */
    justify-content: center; /* Centraliza os elementos na horizontal */
    align-items: center; /* Alinha os elementos na vertical */
}


.servico {
    display: inline-block; /* Permite que os serviços fiquem lado a lado */
    margin: 30px; /* Adiciona espaço entre os serviços */
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.servico img {
    width: 170px;
    height: auto; /* Mantém a proporção das imagens */
    margin-bottom: 5px; /* Adiciona espaço abaixo das imagens */
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.link-whatsapp {
    display: block; /* Exibe o texto do link como um bloco */
    text-decoration: none; /* Remove a sublinhação padrão */
    color: black; /* Cor do texto do link */
    font-weight: bold; /* Texto em negrito */
    align-items: center;
    font-size: 20px;
}

footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

.servicos-lista {
    list-style: none; /* Remover ponto de marcação */
    display: flex; /* Flexbox para organização */
    flex-direction: column; /* Organiza na vertical (ou 'row' para horizontal) */
    align-items: center; /* Alinha horizontalmente à esquerda */
    padding: 0; /* Remover preenchimento padrão */
    margin: 0; /* Remover margens padrão */
    font-size: 15px;
}

.servicos-lista li {
    padding: 2px 0; /* Espaçamento entre os itens */
    border-bottom: 1px solid #ddd; /* Borda inferior para separação visual */
    @media screen {
        max-width: 450px;
    }
}

